<div class="row">
    <form #taskForm="ngForm" (ngSubmit)="onSaveTask(taskForm.value)" style="max-width: 40vw; margin: 2vw 0 0 1vw">
        <div class="col-xs-5 col-md-3 col-md-offset-2">
                </div>
                <label for="taskName">Task name:</label>
                <input
                    type="text"
                    class="form-control"
                    id="taskName"
                    required
                    ngModel
                    name="taskName"
                   /> 
                <label for="priority">Select Priority</label>
                <select
                    id="priority"
                    class="form-control"
                    name="priority"
                    required
                    ngModel
                    style="max-width: 12vw;">
                     <option value="Low">Low</option>
                     <option value="High">High</option>
                </select>
                <label for="urgency">Select Urgency</label>
                <select
                    id="urgency"
                    class="form-control"
                    name="urgency"
                    required
                    ngModel
                    style="max-width: 12vw;">
                     <option value="Low">Low</option>
                     <option value="High">High</option>
                </select>   
            <button
            class="btn btn-primary"
            type="submit"
            [disabled]="!taskForm.valid"
            >
            Add!
          </button>
          <button class=" btn btn-danger" (click)="onDelete()">Delete Tasks!</button>
          <!-- Functionalities already builded in -->
          <!-- <button class="btn btn-primary" (click)="onFetchData()">Refresh!</button> -->
          <!-- <button type="button" class="btn btn-warning" (click)="onAnalyze()">Analyze!</button> -->
    </form>
<p *ngIf="isFetching">Loading...</p>
<div class="row">
    <div class="col-xs-8 col-md-8 loaded" *ngIf="loadedTasks.length != 0" scrollViewport>
        <p *ngIf="loadedTasks.length < 1 && !isFetching">No Tasks added!</p>
        <ul appHover class="list-group" *ngFor="let task of loadedTasks">
            <li class="list-group-item" [ngClass]="getBackgroundColor(task)">
                <h4>{{task.taskName}}</h4>
                <p *ngIf="task.priority">Priority: {{task.priority}}</p>
                <p *ngIf="task.urgency">Urgency: {{task.urgency}}</p>
            </li>     
         </ul>
    </div>
    <div class="col-xs-4 col-md-4 reaserch" *ngIf="loadedTasks.length === 0">
        <img src="../../assets/undraw_task_list_6x9d.png" style="max-width: 40vw; height:auto ;">
        <h2 style="margin-left: 5vw;">Nothing to Fetch!</h2>
    </div>
    <div class="col-xs-4 col-md-4" style="margin-left: 40vw;margin-top: -10vh; position: absolute;" *ngIf="loadedTasks.length != 0">
        <h3>Your Reaserch:</h3>
        <p>Tasks to do: {{do}}</p>
        <p>Tasks to Schedule: {{schedule}}</p>
        <p>Tasks to Delegate: {{delegate}}</p>
        <p>Tasks to Cancel: {{dont}}</p>
    </div>
</div>

