.red,.blue,.green,.yellow{
    color: white;
}
.red{
    background-color: #d63031;
}

.blue{
    background-color: #0984e3;
}

.green{
    background-color: #009432;
}

.yellow{
    background-color: #FFC312;
}

@media screen and (max-width: 770px) {
    .reaserch {
      margin-left: 0;
      margin-top: 0;
      font-size: small;
      position: relative;
    }
    .loaded{
        height: 60%;
    }
    .btn-danger{
        width: 80%;
        font-size: small;
    }
  }

  .hover-effect {
    transition: transform 0.5s ease;
  }
  
  .hover-effect:hover {
    transform: scale(1.01) skewX(5deg);
  }

  .mouse-leave {
    transition: transform 0.5s ease; 
  }
  
  .mouse-leave:hover {
    transform: scale(1.0) skewX(0deg);
  }