<div class="row">
    <form #taskForm="ngForm" (ngSubmit)="onSaveTask(taskForm.value)">
        <div class="col-xs-5 col-md-5 col-md-offset-3">
            <div class="mb-3">
                </div>
                <label for="taskName">Task name:</label>
                <input
                    type="text"
                    class="form-control"
                    id="taskName"
                    required
                    ngModel
                    name="taskName"
                   /> 
                <label for="priority">Select Priority</label>
                <select
                    id="priority"
                    class="form-control"
                    name="priority"
                    required
                    ngModel
                    >
                     <option value="Low">Low</option>
                     <option value="High">High</option>
                </select>
                <label for="urgency">Select Urgency</label>
                <select
                    id="urgency"
                    class="form-control"
                    name="urgency"
                    required
                    ngModel
                    >
                     <option value="Low">Low</option>
                     <option value="High">High</option>
                </select>   
            </div>
            <button
            class="btn btn-primary"
            type="submit"
            [disabled]="!taskForm.valid"
            >
            Save
          </button>
          <button class="btn btn-primary" (click)="onFetchData()">Refresh!</button>
    </form>
    
    <div class="col-xs-2 col-md-2">
        <img src="../../assets/450px-Eisenhower_Decision_matrix.png">
    </div>
</div>


<hr><p *ngIf="isFetching">Loading...</p>
<div class="row">
    <div class="col-xs-7 col-md-7">
    <p *ngIf="loadedTasks.length < 1 && !isFetching">No Tasks added!</p>
    <ul class="list-group" *ngFor="let task of loadedTasks">
        <li class="list-group-item" [ngClass]="getBackgroundColor(task)">
            <h4>{{task.taskName}}</h4>
            <p *ngIf="task.urgency">Urgency: {{task.urgency}}</p>
            <p *ngIf="task.priority">Priority: {{task.priority}}</p>
        </li>
        
    </ul>
    </div>
</div>

