<div class="container">
    <div class="row">
        <div class="col-md-8" style="margin-top: 5vh;">
            <h3>Introducing Matrix Task Manager!</h3>
            <p>Discover an easy-to-use task manager that simplifies managing your tasks! Our Task Manager app is the perfect solution for anyone looking to have full control over their tasks without unnecessary stress and chaos. This simple tool allows you to focus on the most important tasks and effectively manage your time. Explore the possibilities offered by Task Manager based on the Eisenhower Matrix method and increase your productivity now!</p>
        </div>
        <div class="col-md-4 img-fluid">
            <img src="../assets/450px-Eisenhower_Decision_matrix.png" class="img-fluid">
        </div>   
    </div> 
    <div class="row">
        <div class="col-md-8" >
            <h3>About the original Eisenhower Method</h3>
            <p>"A basic Eisenhower box to help evaluate urgency and importance. Items may be placed at more precise points within each quadrant. The Eisenhower Method or Eisenhower Principle is a method that utilizes the principles of importance and urgency to organize priorities and workload. This method stems from a quote attributed to Dwight D. Eisenhower: 'I have two kinds of problems, the urgent and the important. The urgent are not important, and the important are never urgent.' Eisenhower did not claim this insight for his own, but attributed it to an (unnamed) 'former college president.'</p>
            <p>Using the Eisenhower Decision Principle, tasks are evaluated using the criteria important/unimportant and urgent/not urgent, and then placed in according quadrants in an Eisenhower Matrix (also known as an Eisenhower Box or Eisenhower Decision Matrix). Tasks in the quadrants are then handled as follows.</p>
            <ul>
                <li>Important/Urgent quadrant tasks are done immediately and personally, e.g. crises, deadlines, problems.</li>
                <li>Important/Not Urgent quadrant tasks get an end date and are done personally, e.g. relationships, planning, recreation.</li>
                <li>Unimportant/Urgent quadrant tasks are delegated, e.g. interruptions, meetings, activities.</li>
                <li>Unimportant/Not Urgent quadrant tasks are dropped, e.g. time wasters, pleasant activities, trivia.</li>
            </ul>
            <p><a href="https://en.wikipedia.org/wiki/Time_management">WIKIPEDIA Time Management</a></p>
            
        </div>
    </div>
</div>
